.chart-component{
  position: absolute;

  .drag{
    @mainColor: #F00;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    &.hover{
      background-color: fade(@mainColor, 30%);
      border: 1px solid @mainColor;
    }

    &.isEdit{
      background-color: fade(@mainColor, 30%);
      border: 1px solid @mainColor;
      
      .grid-line, .resize-handle-wrapper{
        display: block;
      }
    }

    .move-tap{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: move;
    }

    .resize-handle-wrapper{
      display: none;

      span{
        position: absolute;
        box-sizing: border-box;
        border: 3px solid @mainColor;
        width: 8px;
        height: 8px;
        display: block;

        &.move-width{
          top: 50%;
          right: -4px;
          transform: translateY(-50%);
          cursor: ew-resize;
          border-left: 0;
          border-top: 0;
          border-bottom: 0;
        }
    
        &.move-height{
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          cursor: ns-resize;
          border-left: 0;
          border-right: 0;
          border-top: 0;
        }
    
        &.move-resize{
          bottom: -8px;
          right: -4px;
          transform: translateY(-50%);
          cursor: nwse-resize;
          border-left: 0;
          border-top: 0;
        }

      }
    }
    

    .grid-line{
      display: none;

      .grid-line-top{
        position: absolute;
        border-left: 1px dashed @mainColor;
        width: 0;
        height: 10000px;
        left: 0;
        transform: translateY(-100%);
      }
      .grid-line-left{
        position: absolute;
        border-top: 1px dashed @mainColor;
        width: 10000px;
        height: 0;
        top: 0;
        transform: translateX(-100%);
      }
      .grid-line-label{
        position: absolute;
        padding: 5px;
        transform: translate(-100%,-100%);
        color: @mainColor;
        white-space: nowrap;
      }
    }
  }
}

.chart-rect{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: blue;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
}