@import './rest.less';
@import './login.less';
@import './editor.less';

#root{
  height: 100%
}

.top-bar{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
}

